.break-word {
  white-space: normal;
  word-wrap: break-word;
  word-break: break-all;
}
.nowrap {
  white-space: nowrap;
}
.normal {
  white-space: normal;
}
.pre {
  white-space: pre;
}
.l {
  float: left;
  _display: inline;
}
.r {
  float: right;
  clear: right;
  _display: inline;
}
.clear {
  display: block;
  clear: both;
  overflow: hidden;
  height: 0;
  font: 0/0 arial;
  *zoom: 1;
}
.clearfix:after,
.c:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
  *zoom: 1;
}
.clearfix,
.c {
  display: block;
  *zoom: 1;
}
.cb {
  clear: both;
}
.rel {
  position: relative;
}
.abs {
  position: absolute;
}
.fixed {
  position: fixed;
}
.none {
  display: none;
}
.vt {
  vertical-align: top;
}
.vm {
  vertical-align: middle;
}
.vb {
  vertical-align: bottom;
}
.vl {
  vertical-align: baseline;
}
.txl {
  text-align: left;
}
.txr {
  text-align: right;
}
.txc {
  text-align: center;
}
.b,
.bold {
  font-weight: bold;
}
.i,
.italic {
  font-style: italic;
}
.u,
.underline {
  text-decoration: underline;
}
/* *********
 * CSS RESET
 * *********/
* {
  box-sizing: border-box;
}
body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
legend,
input,
button,
textarea,
p,
blockquote,
th,
td,
i,
b {
  margin: 0;
  padding: 0;
}
fieldset,
img {
  border: 0;
}
/*@remove focus outline style, doesn't work at IE-win */
:focus {
  outline: 0;
}
address,
caption,
cite,
code,
dfn,
em,
th,
var,
optgroup {
  font-style: normal;
  font-weight: normal;
}
h1,
h2,
h3,
h4,
h5,
h6,
.heiti,
.msyh,
.title {
  font-size: 100%;
  font-weight: normal;
}
abbr,
acronym {
  border: 0;
  font-variant: normal;
}
/*@make form componets inherit form theirs patent */
input,
button,
textarea,
select,
optgroup,
option {
  font: inherit;
}
code,
kbd,
samp,
tt {
  font-size: 100%;
}
code,
cite {
  display: none;
}
/*@purpose To enable resizing for IE */
/*@branch For IE6-Win, IE7-Win */
input,
button,
textarea,
select {
  *font-size: 100%;
  color: inherit;
}
ol,
ul {
  list-style: none;
}
/* tables still need 'cellspacing="0"' in the markup */
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* remember to highlight anchors and inserts somehow! */
:link,
:visited,
ins {
  text-decoration: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
body {
  font-family: sans-serif;
}
b {
  font-weight: normal;
}
i {
  font-style: normal;
}
u {
  text-decoration: none;
}
@font-face {
  font-family: 'watcher';
  src: url('/fonts/watcher.eot?0');
  src: url('/fonts/watcher.eot?0#iefix') format('embedded-opentype'), url('/fonts/watcher.woff?0') format('woff'), url('/fonts/watcher.ttf?0') format('truetype'), url('/fonts/watcher.svg?watcher#0_halflingsregular') format('svg');
  font-weight: normal;
  font-style: normal;
}
[class*="icon-"] {
  display: inline-block;
  width: auto;
  height: auto;
  line-height: inherit;
  vertical-align: middle;
  background-image: none;
  background-position: 0 0;
  background-repeat: repeat;
}
[class*="icon-"]:before {
  font-family: "watcher";
  font-weight: normal;
  font-style: normal;
  text-decoration: inherit;
}
.icon-caret-right:before {
  content: "\f0da";
}
.icon-caret-down:before {
  content: "\f0d7";
}
body {
  font-size: 14px;
}
.log-list {
  margin-bottom: 50px;
}
.thread {
  border-top: 1px solid #d7d7d7;
}
.thread .thread-title {
  padding: 5px 0 5px 5px;
  font-weight: bold;
  line-height: 16px;
  position: relative;
  white-space: nowrap;
  cursor: pointer;
  overflow: hidden;
}
.thread .thread-title .icon-prefix {
  width: 12px;
  height: 16px;
  margin-right: 3px;
  font-size: 18px;
  line-height: 16px;
  overflow: hidden;
  background: url(/imgs/loading_32x32.gif) no-repeat center center scroll transparent;
  background-size: 12px 12px;
  -webkit-background-size: 12px 12px;
  vertical-align: middle;
  text-align: center;
}
.thread .thread-title .uri {
  vertical-align: middle;
  display: inline-block;
  font-family: tahoma;
}
.thread .thread-title .duration {
  position: absolute;
  top: 5px;
  right: 0;
  color: #20b2aa;
  padding: 0 10px 0 5px;
  font-weight: normal;
  background: white;
  border-radius: 4px;
}
.thread .thread-title:hover {
  color: #20b2aa;
}
.thread:first-child {
  border-top: none;
}
.thread.complete .thread-title .icon-prefix {
  background: none;
}
.thread.complete .thread-title .icon-prefix:before {
  content: "\f0da";
}
.thread-subs {
  padding-top: 5px;
  margin: 0 0 10px 20px;
  border-left: 1px dashed #d7d7d7;
}
.thread-subs .thread {
  border-top: none;
  border-bottom: 1px dashed #d7d7d7;
}
.params {
  -moz-transition: height 0.3s ease-in-out 0s;
  -webkit-transition: height 0.3s ease-in-out 0s;
  -o-transition: height 0.3s ease-in-out 0s;
  -ms-transition: height 0.3s ease-in-out 0s;
  transition: height 0.3s ease-in-out 0s;
  height: 0;
  margin-left: 20px;
  position: relative;
  overflow: hidden;
}
.params .param-list {
  background: none repeat scroll 0 0 #f5f5f5;
  border-left: 1px dashed #d7d7d7;
  max-height: 200px;
  overflow: auto;
  padding: 10px 20px;
  border-bottom: 1px solid #d7d7d7;
  border-top: 1px solid #d7d7d7;
}
.params sub,
.params sup {
  display: block;
  height: 1px;
  background: none;
  position: relative;
}
.params sub {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
  bottom: -1px;
}
.params sup {
  box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.3);
  top: -1px;
}
.thread.expand > .params {
  height: auto;
}
.thread.expand .thread-title .icon-prefix {
  background: none;
}
.thread.expand .thread-title .icon-prefix:before {
  content: "\f0d7";
}
dl.param {
  border-top: 1px dashed #d7d7d7;
  padding: 3px 0 3px 100px;
  overflow: hidden;
}
dl.param dt {
  float: left;
  margin-left: -100px;
  font-weight: bold;
  color: #20b2aa;
}
dl.param dl .string {
  color: #ea6a33;
}
dl.param dl .number {
  color: #2f4991;
}
dl.param dl .object {
  color: #006400;
}
dl.param dl .null {
  color: #2f4991;
}
dl.param:first-child {
  border-top: none;
}
dl.param:last-child {
  margin-bottom: 10px;
}
.log {
  padding: 5px 10px 5px 20px;
  border-bottom: 1px dashed #d7d7d7;
}
.log label {
  color: #20b2aa;
  font-weight: bold;
}
.log .string {
  color: #ea6a33;
}
.log .number {
  color: #2f4991;
}
.log .object {
  color: #006400;
}
.log .uri {
  margin-top: 5px;
}
.log .file {
  position: relative;
  color: #a9a9a9;
  margin-top: 5px;
  font-size: 12px;
}
.log .file i {
  position: absolute;
  top: 0;
  right: 0;
  background: white;
  padding-left: 5px;
}
.log-warning label {
  color: #daa520;
}
.log-error label {
  color: #b43928;
}
.log-sqlquery .message {
  display: block;
  margin-top: 8px;
}
.log-sqlquery .sql-kw {
  color: #3875d7;
}
.log-sqlquery .sql-string {
  color: #ea6a33;
}
.express {
  margin: 0 auto 100px;
  width: 500px;
}
.express h1 {
  font: bold 18px/2em verdana;
  margin-bottom: 20px;
}
.express h5 {
  font: bold 14px/2em verdana;
}
.express .note {
  color: #989898;
  font-size: 12px;
  line-height: 1.5;
  margin: 5px 0;
}
.express dl {
  margin-bottom: 20px;
}
.express h2,
.express h3 {
  display: inline-block;
  cursor: pointer;
  height: 36px;
  line-height: 36px;
  padding: 0 15px;
  font-size: 16px;
  background: #20b2aa;
  border-radius: 4px;
  color: white;
}
.express h2:hover {
  background: #006400;
}
.express h3 {
  background: white;
  height: 30px;
  padding: 0;
  line-height: 30px;
  border: none;
  border-bottom: 1px dashed #20b2aa;
  color: #666;
  border-radius: 0;
}
.express h3:hover {
  color: #20b2aa;
}
.express dt {
  margin-bottom: 5px;
}
.express dd {
  padding-left: 20px;
}
.filter {
  position: fixed;
  padding: 8px 15px;
  bottom: 0;
  left: 0;
  width: 100%;
  background: rgba(200, 200, 200, 0.8);
}
.filter .submiter {
  font-size: 0;
}
.filter .submiter label,
.filter .submiter input,
.filter .submiter span {
  height: 30px;
  display: inline-block;
  line-height: 28px;
  vertical-align: middle;
  font-size: 14px;
  padding: 0 10px;
  border: 1px solid #b5b5b5;
}
.filter .submiter label {
  border-radius: 4px 0 0 4px;
  background: #42B5C4;
  color: white;
  border-right: none;
}
.filter .submiter input {
  padding: 0 10px;
  width: 300px;
  border-left: none;
  background: white;
  border-radius: 0 4px 4px 0;
}
.filter .submiter span {
  border: none;
}
.filter .submiter button {
  font-size: 14px;
  float: right;
  margin-top: 5px;
}
